{% extends "experimentsearch/tables.html" %}
{% load render_table from django_tables2 %}

{% block nesthead %}
    <style>
        h1, p, label {
            font-family: Arial
        }

        .search_field {
            max-width: 800px;
            width: 90%;
        }
    </style>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
    <script>
        $(document).ready(function(){
            // Adds a from field to the GET data in the datasource table links
            // that matches the current url
            // For the 'back to search' buttons in the datasoure table pages
            $(".dslinks").each(function(){
                var link = $(this).attr("href");
                var link_w_from = link + "&from=" + window.location.href;
                $(this).attr("href", link_w_from);
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Experiment Search</h1>
    <form>
        {{ search_select }}
    </form>
    <form>
        {{ search_form }}
        <input type="submit" value="Search">
    </form>
{% block results %}
    {% if table %}
        {% render_table table %}
    {% elif search_term %}
        <p>Search came up with no results</p>
    {% endif %}
{% endblock %}
{% endblock %}