<head>
    <style>
        h1 {
            font-family: Arial
        }
        table, th, tr {
            border: 2px solid green;
            border-collapse: collapse;
            font-family: Arial
        }
        #logo {
            float: right;
        }
        #id_search_field {
            max-width: 800px;
            width: 90%
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".download").click(function(e){
                e.preventDefault();
                var link = "http://10.1.8.167:8000/report/genotype/csv/?experiment=";
                window.location.href = link + $(this).attr("name");
            });
        });
    </script>
</head>
<body>
    <h1>Experiment Search
        <img id="logo" src="http://www.plantandfood.co.nz/image/pfr-logo-mission.png">
    </h1>
    <form>
        {{ search_form }}
        <input type="submit" value="Search">
    </form>
</body>
{% block results %}
    {% if search_list %}
        <!-- Creates a table to display the info on
        each experiment -->
        <table style="width:100%">
            <!-- sets out the header row (Note: does rely
            on the list of field names being in the order
            of name, pi, date, ds) -->
            <tr>
                {% for name in field_names %}
                    <th>{{name}}</th>
                {% endfor %}
            </tr>
            <!-- creates a row for each experiment -->
            {% for experiment in search_list %}
            <tr>
                <td>{{ experiment.name }}</td>
                <td>{{ experiment.primary_investigator }}</td>
                <td>{{ experiment.date_created }}</td>
                <td>{{ experiment.data_source }}</td>
                <td><button class="download" name="{{ experiment.name }}" type="button">Download</button></td>
            </tr>
            {% endfor %}
        </table>
    {% elif search_term %}
        <p>Search came up with no results</p>
    {% endif %}
{% endblock %}