<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "experimentlist/css/searchstyle.css" %}">
    <script type="text/javascript" src="{% static "jslibraries/jquery-1.11.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "jslibraries/tablesorter/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% static "jslibraries/tablesorter/addons/pager/jquery.tablesorter.pager.js" %}"></script>
    <script>
        $(document).ready(function(){

            // Makes download buttons in table link to experiment's csv file
            $(".download").click(function(e){
                e.preventDefault();
                var link = "http://10.1.8.167:8000/report/genotype/csv/?experiment=";
                window.location.href = link + $(this).attr("name");
            });

            // Initialises table to be sortable paged table
            // DOES NOT CURRENTLY WORK FOR SOME REASON
            $("table")
            .tablesorter({widgets: ['zebra']})
            .tablesorterPager({container: $("#pager")});
        });
    </script>
</head>
<body>
    <h1>Experiment Search
        <img id="logo" src="{% static "images/pfr_logo.jpg" %}">
    </h1>
    <form>
        {{ search_form }}
        <input type="submit" value="Search">
    </form>
{% block results %}
    {% if search_list %}
        <!-- Creates a table to display the info on
        each experiment -->
        <table style="width:100%" class="tablesorter">
            <!-- sets out the header row (Note: does rely
            on the list of field names being in the order
            of name, pi, date, ds) -->
            <thead>
            <tr>
                {% for name in field_names %}
                    <th>{{name}}</th>
                {% endfor %}
            </tr>
            </thead>
            <!-- creates a row for each experiment -->
            <tbody>
            {% for experiment in search_list %}
            <tr>
                <td>{{ experiment.name }}</td>
                <td>{{ experiment.primary_investigator }}</td>
                <td>{{ experiment.date_created }}</td>
                <td>{{ experiment.data_source }}</td>
                <td><button class="download" name="{{ experiment.name }}" type="button">Download</button></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% elif search_term %}
        <p>Search came up with no results</p>
    {% endif %}
{% endblock %}
</table>
</body>