<head>
    <style>
        h1 {
            font-family: Arial
        }
        table, th, tr {
            border: 2px solid green;
            border-collapse: collapse;
            font-family: Arial
        }
        #logo {
            float: right;
        }
        #searchfield {
            max-width: 600px;
        }
    </style>
</head>
<body>
    <h1>Experiment Search
        <img id="logo" src="http://www.plantandfood.co.nz/image/pfr-logo-mission.png">
    </h1>
    <form>
        <input id="searchfield" type="text" style="width:90%">
        <input type="submit" value="Search">
    </form>
</body>
{% if experiment_list %}
    <!-- Creates a table to display the info on
    each experiment -->
    <table style="width:100%">
        <!-- sets out the header row (Note: does rely
        on the list of field names being in the order
        of name, pi, date, ds) -->
        <tr>
            {% for name in field_names %}
                <th>{{name}}</th>
            {% endfor %}
        </tr>
        <!-- creates a row for each experiment -->
        {% for experiment in experiment_list %}
        <tr>
            <td>{{ experiment.name }}</td>
            <td>{{ experiment.primary_investigator }}</td>
            <td>{{ experiment.date_created }}</td>
            <td>{{ experiment.data_source }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No experiments are available</p>
{% endif %}